* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; margin: 8px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li:nth-child(odd) { background: #f7f7f7; }

#messages li {
    animation: fadein 1s;
    padding: 12px 16px;
    line-height: 18px;
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
